/* Source Sans 3 */
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

  /* Anta, Kode Mono, Unbounded, Bakbak One */ 
  @import url('https://fonts.googleapis.com/css2?family=Anta&family=Bakbak+One&family=Kode+Mono:wght@400..700&family=Unbounded:wght@200..900&display=swap');

  /* Changa One */
  @import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Goldman:wght@400;700&display=swap');
  

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle On Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}


.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Changa One */
.changa-one-regular {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changa-one-regular-italic {
  font-family: "Changa One", sans-serif;
  font-weight: 400;
  font-style: italic;
}

