/* Source Sans 3 */
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

  /* Anta, Kode Mono, Unbounded, Bakbak One */ 
  @import url('https://fonts.googleapis.com/css2?family=Anta&family=Bakbak+One&family=Kode+Mono:wght@400..700&family=Unbounded:wght@200..900&display=swap');
  

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle On Hover */
::-webkit-scrollbar-track:hover {
  background: #555;
}


.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bakbak-one-regular {
  font-family: "Bakbak One", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 900 
 */

.kode-mono-type1 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* 
<uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 900 
 */

.unbounded-type2 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}